*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nomeAplicacao{
    color: white;
    text-align: center;
    font-size: 160%;
}


:root{
    font-family: 'Inter', sans-serif;
    /*font-size: 160%;*/
}

body{
    /*altura da janela*/
    min-height: 100vh;

    /*alinhando todos objetos de body ao centro top*/
    align-items: center;

    /*alinhando todos objetos de body no meio da tela*/
    justify-content: top;

    /*cor de fundo do meio da tela*/
    background-color: rgb(9, 90, 240);

    /*Toda escrita da tela branca*/
    /*color: white;*/

    /*Toda font bold*/
    font-weight: bold;

    /*Padding janela principal*/
    padding: 10px;

}